 :root {
  --primaryColor: hsl(9, 100%, 64%);
  --mainWhite: hsl(0, 0%, 98%);
  --mainBlack: hsl(0, 0%, 12%);
  --mainGrey: hsl(0, 0%, 92%);;
  --mainSpacing: 0.02rem;
  --mainTransition: all 0.3s linear;
  --mainOverlay: hsla(0, 0%, 0%, 0.8);
  --mainShadow: 0 4px 10px 0 hsla(0, 0%, 0%, 0.1);
}
