.products {
  padding: 4rem 0;
  display: block;
  z-index: -1;

  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem 0;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);    
  }

  .products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;    
  }

  .img-container {
    position: relative;
    overflow: hidden;    
    padding: 2rem;
  }

  .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    border: none;
    text-transform: capitalize;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(100%);
    cursor: pointer;
    
    &:hover {
      background: var(--primaryColor);
      color: var(--mainWhite);
    }
  }

  .fa-shopping-cart {
    margin-right: 0.5rem;
  }

  .img-container:hover .bag-btn {
    transform: translateX(0);
  }

  .product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
    border-radius: 1%;
  }

  .img-container:hover .product-img {
    opacity: 0.5;
  }

  .product {
    .description {
      margin-top: 0.8rem;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    h3 {
      text-transform: capitalize;
      font-size: 1.1rem;
      letter-spacing: var(--mainSpacing);
      text-align: center;
    }

    h4 {
      letter-spacing: var(--mainSpacing);
      color: var(--primaryColor);
      text-align: center;
      font-size: 1.4rem;
    }
  }
}
